# a pillar example of aspects specific to HDFS Namenode High Availability
# if HA is configured like below, there will be no secondary namenode
# On each namenode you have to have a match of the namenode_target **and** primary NN target for one of your namenodes

hdfs:
  namenode_target: "roles:hadoop_master" # Specify compound matching string to match both your namenodes
  primarynamenode_target: "roles:hdfs_namenode1" # this node will do the NN format, init zookeeper and run a zkfc
  journalnode_target: "roles:hdfs_journalnode"
  datanode_target: "roles:hadoop_slave" # Specify compound matching string to match all your datanodes e.g. if you were to use pillar I@datanode:true
  config:
    namenode_port: 8020 # ports are not individually configurable - namenodes have to be on different hosts
    namenode_http_port: 50070
    # the rest of hdfs config as usual

# A pillar example of aspects specific to Resourcemanager High Availability
# to use several Resourcemanager nodes you need to target it with `resourcemanager_target` option

yarn:
  resourcemanager_target: "roles:yarn_resourcemanager"
  # ... the rest goes as usual
