JAVA_HOME={{ java_home }}
HADOOP_HOME_WARN_SUPPRESS=true
HADOOP_HOME={{ hadoop_home }}
HADOOP_PREFIX={{ hadoop_home }}

HADOOP_LIBEXEC_DIR={{ hadoop_home }}/libexec
HADOOP_CONF_DIR={{ hadoop_config }}

HADOOP_COMMON_HOME={{ hadoop_home }}
HADOOP_HDFS_HOME={{ hadoop_home }}
HADOOP_MAPRED_HOME={{ hadoop_home }}
HADOOP_YARN_HOME={{ hadoop_home }}
