export JAVA_HOME={{ java_home }}
export HADOOP_HOME_WARN_SUPPRESS=true
export HADOOP_HOME={{ hadoop_home }}
export HADOOP_PREFIX={{ hadoop_home }}

export HADOOP_LIBEXEC_DIR={{ hadoop_home }}/libexec
export HADOOP_CONF_DIR={{ hadoop_config }}

export HADOOP_COMMON_HOME={{ hadoop_home }}
export HADOOP_HDFS_HOME={{ hadoop_home }}
export HADOOP_MAPRED_HOME={{ hadoop_home }}
export HADOOP_YARN_HOME={{ hadoop_home }}